<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="regression">

	<test name="Test Level 01">
		<classes>
			<class name="testNGframework.FirstTest" />
		</classes>

	</test>

	<test name="Test Level 02">
		<classes>
			<class name="testNGframework.SecondTest" />
		</classes>

	</test>


</suite> <!-- Suite -->
